<template>
  <div v-if="isReady" class="uk-form-row">
    <div><span class="uk-text-bold">Story ID: </span> {{ storyId }}</div>
    <div class="uk-margin">
      <label for="sp-route-stores" class="required">Store ids</label>
      <select
        id="sp-route-stores"
        v-model="typedModel.storeIds"
        :multiple="true"
        :readonly="isProcessing"
        class="uk-width-1-1"
      >
        <option v-if="isLoading" :disabled="true">Loading...</option>
        <option v-for="store in stores" v-else :key="store.id" :value="store.id">
          {{ store.title }} ( {{ store.id }} )
        </option>
      </select>
    </div>
    <template v-if="!isStaticBlock">
      <div class="uk-margin">
        <label for="sp-route-url" class="required">Route url</label>
        <input
          id="sp-route-url"
          v-model="typedModel.routeUrl"
          :readonly="true"
          placeholder="Please setup Real Path to fill it"
          type="text"
          class="uk-width-1-1"
        />
      </div>
      <div class="uk-margin">
        <button
          class="uk-button uk-button-primary uk-float-right"
          :disabled="!isRouteUrlEqRealPath || isProcessing"
          @click="onClickSave"
        >
          <template v-if="isProcessing">Updating...</template>
          <template v-else>Update route</template>
        </button>
      </div>
    </template>
    <template v-else>
      <div class="uk-margin">
        <label for="sp-route-key" class="required">Route Key</label>
        <input
          id="sp-route-key"
          v-model="typedModel.routeKey"
          type="text"
          :readonly="isProcessing"
          class="uk-width-1-1"
          placeholder="Setup key as a string reference on site"
        />
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import { defineComponent } from '@vue-storyblok-ui/common';

type Props = {
  storyId: string;
  storyItem: { path: string };
};

type Model = { plugin: string; storeIds: []; routeKey: string; routeUrl: string };
type Options = { isStaticBlock: number };

type DataState = {
  stores: Array<{ title: string; id: string }>;
  options: Options;
  isProcessing: boolean;
};

const modelState: Model = {
  plugin: 'field-sp-route',
  storeIds: [],
  routeKey: '',
  routeUrl: '',
};

type Plugin = { name: string; model: Model };

export default defineComponent(
  {
    name: modelState.plugin,
    mixins: [window.Storyblok.plugin],
    props: {
      storyId: {
        type: String,
        required: true,
      },
      storyItem: {
        type: Object as () => Props['storyItem'],
        required: true,
      },
    },
    data: (): DataState => ({
      stores: [] as DataState['stores'],
      isProcessing: false,
      options: {
        isStaticBlock: 0,
      },
    }),
    computed: {
      isReady(): boolean {
        return Array.isArray(this.typedModel.storeIds);
      },
      isLoading(): boolean {
        return this.stores.length === 0;
      },
      isRouteUrlEqRealPath(): boolean {
        return this.storyItem.path != null && this.typedModel.routeUrl === this.storyItem.path;
      },
      isStaticBlock(): boolean {
        return this.options.isStaticBlock > 0;
      },
      typedModel(): Model {
        return this.model;
      },
    },
    watch: {
      model: {
        handler: function (value: Model): void {
          this.$emit('changed-model', value);
        },
        deep: true,
        immediate: true,
      },
      'storyItem.path': {
        handler: function (value): void {
          this.typedModel.routeUrl = value;
        },
        deep: true,
        immediate: true,
      },
    },
    methods: {
      initWith(): Model {
        return modelState;
      },
      async pluginCreated(): Promise<void> {
        const stores = await this.getStores();
        this.stores = Object.entries(stores).map(([k, v]) => ({
          title: k,
          id: v,
        }));

        // https://www.storyblok.com/faq/plugin-track-storyitem-changes
        setInterval(() => {
          this.$emit('get-context');
        }, 1000);
      },
      getStores(): Promise<Record<string, string>> {
        return new Promise((resolve) => {
          const s = {
            'English / GBP': '1',
            'English / AUD': '6',
            'English / EUR': '7',
            'English / NOK': '9',
            'Deutsch / EUR': '11',
            'Dansk / DKK': '12',
            'Francais / EUR': '13',
            'Espanol / EUR': '14',
            'Svenska / SEK': '16',
            'English / USD': '19',
          };
          setTimeout(() => resolve(s), 1000);
        });
      },
      async onClickSave(): Promise<void> {
        this.isProcessing = true;
        await new Promise((resolve) => setTimeout(resolve, 1000));
        this.isProcessing = false;
      },
    },
  },
  {} as Plugin
);
</script>
<style>
.required:after {
  content: '*';
}
</style>
